h1{
    color: #8B4513;
    font-size: 65px;
    margin-bottom: 20px;
    font-weight: bold;
}

body {
    background-color: #f0e0d0;
    font-family: 'Malgun Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fef8e8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    width: 70%;
    height: 55%;
    max-width: 800px;
}

input[type="text"],
input[type="password"] {
    width: 55%;
    height: 30px;
    border-radius: 20px; /* 중복된 border-radius 중 하나만 사용 */
    padding: 10px;
    margin: 15px 0 15px 90px;
    border: 1px solid #8b4512;
}
input::placeholder {
    font-size: 25px;
    color: gray;
}

input[type="button"] {
    height: 50px;
    padding: 0 20px;
    margin-left: 10px;
    border: 1px solid #8b4512;
    border-radius:20px;
    background-color: #e0e0e0;
    cursor: pointer;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 25px;
    background-color: #ffeec6;
    font-weight: bold;
    color: #8b4512; /* ← 'font'가 아니라 'color'를 써야 글자색 적용됨 */
    margin: 0 auto; /* 가운데 정렬 위해 좌우 마진 자동 */
    display: block;
}