
/* 전체 페이징 영역 */
.pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    margin-top: 20px;
}

/* 숫자 버튼 중앙 고정 */
.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* 숫자 버튼 스타일 */
.page-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin: 0 5px;
    border-radius: 6px;
    color: #8B4513;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}



.page-link:hover, .page-link.active{
    color: #ffcc00;
    text-shadow:
            0 0 4px #ffcc00,
            0 0 8px #ffd700,
            0 0 12px #ffaa00;
    transform: scale(1.08);
}
.page-link.active {
    color: #816905;
}

/* 이전 / 다음 버튼 (아이콘 스타일) */
.page-nav-btn {
    display: inline-block;
    margin: 0 10px;
    padding: 6px 10px;
    color: #8B4513;
    background: none;
    border: none;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.disabled-btn {
    color: #d0c6b8 !important;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

.glow-hover:hover {
    color: #ffcc00;
    text-shadow:
            0 0 4px #ffcc00,
            0 0 8px #ffcc00,
            0 0 14px #ff9900,
            0 0 18px #ff8800;
}

.empty-row {
    /*background-color: #f4f1ec;*/
    height: 42px;
}

.record-table th{
    /*background-color: #8B4513;*/
    /*color: #fff;*/
    border-bottom: 3px solid rgba(53, 35, 17, 0.55) !important;
    border-top: 3px solid rgba(53, 35, 17, 0.55) !important;
    padding: 10px;
    font-size: 1.5rem !important;
    font-family: 'Shilla_Culture', 'Nanum Myeongjo', serif;
}

.record-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d9c7aa !important;
}
.record-table tr{
    height: 4vw;
}
.record-table th,
.record-table td {<div class="modal-content">
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    font-size: 1rem;
    line-height: 1.4;
}

.record-table tr:nth-child(even) {
    background-color: rgba(103, 103, 103, 0.1);
}